<section class="about" id="how-its-made">
  <div class="container">
    <p class="about-section-pretitle">tradition and love</p>
    <h2 class="about-section-title section-title">how it’s made?</h2>
    <div class="about-content-wrap">
      <div class="about-bg-wrap"></div>
      <div class="about-text-button-wrap">
        <div class="about-text-container">
          <p class="about-text">
            Ice is a place where you will become not only a little happier, but
            also healthier. Health is the main value for us, and we follow it
            when creating our handmade desserts.
          </p>
          <p class="about-text">
            We use traditional recipes and 100% natural ingredients. Our
            products are so natural that they can be given to children from the
            age of three years. Sweets lovers can expect 55 types of ice cream,
            15 types of coffee and 23 milkshakes.
          </p>
          <p class="about-text text-hidden">
            This is enough to choose ice cream and coffee for any mood!
          </p>
        </div>
        <button class="button-colored about-btn" type="button" data-read-more-modal-open>
          Read more
          <svg class="about-btn__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow-button"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>