<section class="contacts" id="contacts">
  <div class="container container-contacts">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <p class="contacts__item-subtitle">Cafe</p>
        <span class="contacts__item-text">Chicago</span>
        <a class="contacts__item-link link" target="_blank" href="https://goo.gl/maps/cxNh5mNQCSfDgQbc6">10340 Ridgeland
          Ave, Chicago Ridge, IL 60415, USA</a>
        <ul class="contacts__list-schedule list">
          <li class="contacts__item-schedule">
            <span class="contacts__schedule-subtitle">Monday - Friday</span>
            <p class="contacts__schedule-text">06:00 Am - 10:00 Pm</p>
          </li>
          <li class="contacts__item-schedule">
            <span class="contacts__schedule-subtitle">Saturday - Sunday</span>
            <p class="contacts__schedule-text">08:00 Am - 16:00 Pm</p>
          </li>
        </ul>
        <ul class="contacts__list-contact list">
          <li class="contacts__item-contact">
            <a class="contacts__link-contact link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__item-contact">
            <a class="contacts__link-contact link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__item-subtitle">Food truck</p>
        <span class="contacts__item-text">Los Angeles</span>
        <a class="contacts__item-link link" target="_blank" href="https://goo.gl/maps/4ze1Wk8NnCJaByNb9">1003 Manhattan
          Ave, Manhattan Beach, CA 90263, USA</a>
        <ul class="contacts__list-schedule list">
          <li class="contacts__item-schedule">
            <span class="contacts__schedule-subtitle">Monday - Friday</span>
            <p class="contacts__schedule-text">06:00 Am - 10:00 Pm</p>
          </li>
          <li class="contacts__item-schedule">
            <span class="contacts__schedule-subtitle">Saturday - Sunday</span>
            <p class="contacts__schedule-text">08:00 Am - 16:00 Pm</p>
          </li>
        </ul>
        <ul class="contacts__list-contact list">
          <li class="contacts__item-contact">
            <a class="contacts__link-contact link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__item-contact">
            <a class="contacts__link-contact link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__item-subtitle">Cafe</p>
        <span class="contacts__item-text">New York</span>
        <a class="contacts__item-link link" target="_blank" href="https://goo.gl/maps/wmhdc6AWTwL3sCjx9">726 Sterling
          Pl, Brooklyn, NY 11222, USA</a>
        <ul class="contacts__list-schedule list">
          <li class="contacts__item-schedule">
            <span class="contacts__schedule-subtitle">Monday - Friday</span>
            <p class="contacts__schedule-text">06:00 Am - 10:00 Pm</p>
          </li>
          <li class="contacts__item-schedule">
            <span class="contacts__schedule-subtitle">Saturday - Sunday</span>
            <p class="contacts__schedule-text">08:00 Am - 16:00 Pm</p>
          </li>
        </ul>
        <ul class="contacts__list-contact list">
          <li class="contacts__item-contact">
            <a class="contacts__link-contact link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__item-contact">
            <a class="contacts__link-contact link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__btn-wrap">
      <button class="contacts__btn-locations button-colored button" type="button" data-location-modal-open>
        Our Locations<svg class="contacts__btn-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-button"></use>
        </svg>
      </button>
      <button class="contacts__btn-franchise button-empty button" type="button" data-franchise-modal-open>
        Franchise<svg class="contacts__btn-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-button"></use>
        </svg>
      </button>
    </div>
  </div>
</section>