<footer class="footer">
    <div class="footer__container container">
        <div class="footer__text">
            <p class="footer__pre-title">homemade ice cream made
            </p>
            <p class="footer__title">with passion</p>
        </div>
        <div class="footer__contacts">
            <ul class="footer__soc-list">
                <li class="footer__soc-item"><a class="footer__soc-link" href="https://github.com/" target="_blank"
                        rel="noreffer nooper"><svg class="social__icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-githab"></use>
                        </svg></a></li>
                <li class="footer__soc-item"><a class="footer__soc-link" href="https://telegram.org/" target="_blank"
                        rel="noreffer nooper"><svg class="social__icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-telegram"></use>
                        </svg></a></li>
                <li class="footer__soc-item"><a class="footer__soc-link" href="https://www.facebook.com/"
                        target="_blank" rel="noreffer nooper"><svg class="social__icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg></a></li>
            </ul>
            <a class="footer__tel-link" href="tel:+610383766284">
                <span>Feel free to contact</span> +61 (0) 383 766 284</a>
        </div>
    </div>
    <div class="footer__copyright">
        <p class="footer__copyright-text">&#169; 2022 - IceCream.
            All Rights Reserved.</p>
    </div>

</footer>