<div class="backdrop-location is-hidden" data-location-modal>
  <div class="modal-location">
    <button
      type="button"
      data-location-modal-close
      class="close-modal-location button"
    >
      <svg class="modal-location-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-ep_close"></use>
      </svg>
    </button>
    <p class="modal-location-title">Our Locations</p>
    <iframe
      class="modal-location-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.793119616134!2d-87.78192918456439!3d41.703401579236406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e39ad302b2c19%3A0xc808e9b14d04eb2b!2s10340%20Ridgeland%20Ave%2C%20Chicago%20Ridge%2C%20IL%2060415%2C%20%D0%A1%D0%A8%D0%90!5e0!3m2!1sru!2spl!4v1671639296109!5m2!1sru!2spl"
      width="225"
      height="200"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <a
      class="modal-location-btn button-colored"
      target="_blank"
      href="https://goo.gl/maps/LUCat9PgzVxFpBK79"
      >Open map</a
    >
  </div>
</div>
