<div class="backdrop-franchise is-hidden" data-franchise-modal>
  <div class="modal-franchise">
    <button
      type="button"
      class="close-modal-franchise button"
      data-franchise-modal-close
    >
      <svg class="modal-franchise-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-ep_close"></use>
      </svg>
    </button>
    <p class="modal-franchise-title">
      Thank you for your interest in owning an Ice Cream shop
    </p>
    <p class="modal-franchise-text">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
    <form class="modal-franchise-form">
      <label class="modal-franchise-label" for="username"></label>
      <input
        class="modal-franchise-input"
        type="text"
        id="username"
        name="username"
        placeholder="Name"
        required
      />
      <label class="modal-franchise-label" for="phone"></label>
      <input
        class="modal-franchise-input"
        type="tel"
        id="phone"
        name="phone"
        placeholder="Phone"
        required
      />
      <label class="modal-franchise-label" for="mail"></label>
      <input
        class="modal-franchise-input"
        type="email"
        id="mail"
        name="mail"
        placeholder="Email"
        required
      />
      <label class="modal-franchise-label" for="coment"></label>
      <textarea
        class="modal-franchise-label modal-franchise-area"
        name="coment"
        id="coment"
        placeholder="Comment"
      ></textarea>
      <button
        class="modal-franchise-button button-colored button"
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
</div>
