<div class="backdrop-igredients is-hidden" data-ingredients-modal>
  <div class="modal-igredients">
    <button
      type="button"
      class="close-modal-igredients-btn"
      data-ingredients-modal-close
    >
      <svg class="modal-igredients-btn__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-ep_close"></use>
      </svg>
    </button>

    <p class="modal-igredients-title">Chololate icecream</p>
    <div class="modal-igredients-img-wrap"></div>
    <ul class="modal-igredients-list">
      <li class="modal-igredients-list__item">
        <span class="modal-igredients-element"
          ><span class="modal-igredients-value">320</span>kcal</span
        >
      </li>
      <li class="modal-igredients-list__item">
        <span class="modal-igredients-element"
          ><span class="modal-igredients-value">4g</span>Prote...</span
        >
      </li>
      <li class="modal-igredients-list__item">
        <span class="modal-igredients-element"
          ><span class="modal-igredients-value">8,2g</span>Fats</span
        >
      </li>
      <li class="modal-igredients-list__item">
        <span class="modal-igredients-element"
          ><span class="modal-igredients-value">40,4g</span>Carbs</span
        >
      </li>
    </ul>

    <p class="modal-igredients-recipe-title">Ingredients</p>
    <ul class="modal-igredients-recipe-list">
      <li class="modal-igredients-recipe-item">
        <p>Milk</p>
        <p>100ml</p>
      </li>
      <li class="modal-igredients-recipe-item">
        <p>Belgian chocolate</p>
        <p>20g</p>
      </li>
      <li class="modal-igredients-recipe-item">
        <p>Cream</p>
        <p>150 ml</p>
      </li>
      <li class="modal-igredients-recipe-item">
        <p>Cocoa powder</p>
        <p>30g</p>
      </li>
      <li class="modal-igredients-recipe-item">
        <p>Sugar</p>
        <p>40g</p>
      </li>
      <li class="modal-igredients-recipe-item">
        <p>Vanilla sugar</p>
        <p>10g</p>
      </li>
    </ul>

    <form class="igredients-modal-form" name="signup-form" autocomplete="off">
      <label class="igredients-modal-form__label" for="user-name">
        <input
          class="igredients-modal-form__input"
          type="text"
          name="user-name"
          id="user-name"
          placeholder="Name"
          required
        />
      </label>

      <label class="igredients-modal-form__label" for="user-tel">
        <input
          class="igredients-modal-form__input"
          type="tel"
          name="user-tel"
          id="user-tel"
          placeholder="Phone"
          required
        />
      </label>

      <label class="igredients-modal-form__label textarea" for="user-feedback">
        <textarea
          class="igredients-modal-form__textarea"
          name="user-feedback"
          id="user-feedback"
          placeholder="Comment"
        ></textarea>
      </label>

      <button class="button-colored igredients-modal-form__btn" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
