<div class="product-backdrop is-hidden" data-product-modal>
    <div class="product-modal">
        <button class="product-modal__btn" data-product-modal-close><svg class="product-modal__icon" width="20"
                height="20">
                <use href="./images/icons.svg#icon-clarity_close-line">
                </use>
            </svg></button>
        <p class=" product-modal__title">Buy now</p>
        <div>
            <ul class="product-modal-list">
                <li class="product-modal-list__item product-modal-list__item--ice-cream">
                    <div class="product-modal-wrap">
                        <h3 class="product-modal-title">ice cream</h3>

                    </div>

                </li>
                <li class="product-modal-list__item product-modal-list__item--ice-coffee">
                    <div class="product-modal-wrap">
                        <h3 class="product-modal-title">ice coffee</h3>

                    </div>

                </li>
                <li class="product-modal-list__item product-modal-list__item--milkshakes">
                    <div class="product-modal-wrap">
                        <h3 class="product-modal-title">milkshakes</h3>

                    </div>

                </li>
            </ul>
        </div>


        <form class="product-modal-form" name="signup-form" autocomplete="off">
            <label class="product-modal-form__label" for="user_name">


                <input class="product-modal-form__input" type="text" name="user-name" id="user_name" placeholder="Name"
                    required />


            </label>

            <label class="product-modal-form__label" for="user_tel">


                <input class="product-modal-form__input" type="tel" name="user-tel" id="user_tel" placeholder="Phone"
                    required />



            </label>

            <label class="product-modal-form__label product-modal-textarea" for="user_feedback">

                <textarea class="product-modal-form__textarea" name="user-feedback" id="user_feedback"
                    placeholder="Comment"></textarea>
            </label>

            <button class="button-colored product-modal-form__btn" type="submit">Submit</button>
        </form>
    </div>
</div>