<div class="backdrop-rm is-hidden" data-read-more-modal>
  <div class="modal-rm">
    <button type="button" class="close-modal-rm-btn" data-read-more-modal-close>
      <svg class="modal-mr-btn__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-ep_close"></use>
      </svg>
    </button>
    <p class="modal-rm-title">How it’s made?</p>
    <iframe class="modal-rm-video" width="224" height="199" src="https://www.youtube.com/embed/VdEa6wKl7Dc"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <p class="modal-rm-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>