<section class="products" id="products">
  <div class="container">
    <p class="products-section-pretitle">100% natural</p>
    <h2 class="products-section-title section-title">products</h2>
    <ul class="products-list">
      <li class="products-list__item products-list__item--ice-cream">
        <div>
          <h3 class="products-title">ice cream</h3>
          <p class="products-text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <button class="ptoducts-btn" type="button" data-ingredients-modal-open>
          <svg width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-list__item products-list__item--ice-coffee">
        <div>
          <h3 class="products-title">ice coffee</h3>
          <p class="products-text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button class="ptoducts-btn" type="button" data-ingredients-modal-open>
          <svg width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-list__item products-list__item--milkshakes">
        <div>
          <h3 class="products-title">milkshakes</h3>
          <p class="products-text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button class="ptoducts-btn" type="button" data-ingredients-modal-open>
          <svg width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>